# Formal Verification

The Strike protocol was developed with a specifications of security principles, and formally verified by [Certora](https://www.certora.com/) using Certora ASA \(Accurate Static Analysis\), which is integrated into Strike's continuous integration system.

## [01. Certora Verification Summary](https://strike.org/documents/Certora.pdf)

